header {
    font-family: "Playfair Display", serif;
}
header img {
	width: 150px;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 0 30px #777;
}
.hero {
	position: relative;
	top: 0;
	left: 0;
}
h1 {
	position: absolute;
	top: 60px;
	left: 160px;
	font-family: "Playfair Display", serif;
	font-size: 30pt;
	color: #4A9381;
	background-color: rgba(255, 255, 255, 0.591)
	
}
.image1 {
    display: block;
    width: 100%;
    height: auto;
	position: relative;
	top: 0;
	left: 0;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 0 30px #777;
}
.image2 {
	position: absolute;
	bottom: 10px;
	right: 10px;
	float: right;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 0 30px #777;
	padding-inline-end: auto;
}
body {
    font-family: "Fredoka", sans-serif;
	font-size: 8pt;
}
article {
	width: auto;
	height: 160px;
	margin: 1rem auto;           
	background-color: rgba(255,255,255,0.5);
	padding: 1rem;
	border: 1px solid rgba(0,0,0,.1);
	float: auto;
	margin: 20px;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 0 30px #777;
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-size: 12pt;
}
.hero p {
	position: relative;
	float: left;
	margin-right: 200px;
}
h2 {
	font-family: "Playfair Display", serif;
	color: #4698CA;
	font-size: 24pt;
}
.container { 
	display: grid;
	justify-content: left;
	}
.img {
	margin-bottom: 5px;
}